---
export const prerender = false;

import { api, app } from "@/config/app";
import { webRoutes } from "@/config/webRoutes";
import { appLoadImage } from "@/modules/core/utilities/img/convert";
import { serializeText } from "@/modules/core/utilities/lettersAndComponents";
import type { PostData } from "@/modules/web/hooks/post/PostI";
import { PostWrapper } from "@/wrapers/PostWrapper";
const { id } = Astro.params;
let errorApi: null | Error = null;
let post: PostData | null = null;
try {
  const response = await api.get(`post/${id}`);

  const data: { status: boolean; message: "OK"; data: PostData } =
    await response.data;
  post = data.data;
} catch (error) {
  if (
    typeof error === "object" &&
    error &&
    Reflect.has(error, "name") &&
    Reflect.has(error, "message")
  ) {
    errorApi = {
      name: Reflect.get(error, "name") || "Server",
      message: Reflect.get(error, "message") || "Not found",
    };
  } else {
    errorApi = {
      name: "Server",
      message: "Not found",
    };
  }
}
---

<html lang="es">
  <head>
    <meta property="og:url"                content={`${app.host}${webRoutes.view_posts.path.replace(':id', String(post?.id))}`} />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content={`${serializeText(post?.description || post?.title || '')}`} />
    <meta property="og:description"        content={`${serializeText(post?.description || post?.title || '')}`} />
    <meta property="og:image"              content={`${appLoadImage(post?.img?.path || '')}`} />
    <meta property="og:image:alt" content={`${  serializeText(post?.description ?? '') }`} />
    <meta property="fb:app_id" content={`${  app.oAuthIdFacebook }`} />
    <meta charset="utf-8" />
    <title>{post?.description}</title>
  </head>
  <body>
    <PostWrapper client:only="react" post={post} error={errorApi} />
  </body>
</html>
